[run]
source = app
[report]
show_missing = True
omit =
    app/__init__.py
    app/config/__init__.py
    app/config/config.py
    app/database/__init__.py
    app/routers/__init__.py
    app/routers/games/__init__.py
    app/routers/players/__init__.py
    app/tests/*
    app/routers/websockets/*
    app/utils.py
    app/database/utils.py

[html]
directory = htmlcov
